<!DOCTYPE html>
<html>
<head>
  <title>Testapp</title>
  <% if action_name == 'test1' %>
    <%= stylesheet_link_tag "test1", :media => "all" %>
  <% else %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
